* {
  margin: 0px;
  padding: 0px;
}

.textFontWeight {
  font-weight: lighter;
}

.footerTextColor {
  color: #4966b8;
}

a {
  text-decoration: none;
  color: #0a205c;
}

img {
  border-radius: 6%;
}

button {
  background-color: #0a205c;
}

.navbar img {
  width: 25%;
}

.aboutUs {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.aboutUsPartOne {
  width: 100%;
  color: white;
  padding-left: 6%;
}

.aboutUsPartTwo {
  display: flex;
  justify-content: start;
  padding-left: 6%;
  width: 100%;
}

.aboutUsPartTwo form {
  width: 75%;
}

.checkIn {
  width: 100%;
}

.checkOut {
  width: 100%;
}

.checkIn div {
  width: 50%;
}

.checkIn p {
  color: #0a205c;
}

.checkOut div {
  width: 50%;
}

.checkOut p {
  color: #0a205c;
}

.userRoom {
  width: 25%;
}

.userRoom p {
  color: #0a205c;
}

.childRoom {
  width: 25%;
}

.childRoom p {
  color: #0a205c;
}

.aboutUsPartOne a {
  background-color: transparent;
  color: white !important;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.aboutUsPartOne a:hover {
  width: 57%;
  text-align: center;
  background-color: white;
  color: black !important;
}

.aboutUsPartTwo button {
  width: 100%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: white;
}

.welcomeContent {
  padding: 7% 5% 5% 5%;
}

.welcomeImages {
  position: relative;
}

.welcomeImages img {
  width: 100%;
  margin-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
}

.aboutRooms {
  width: 100%;
  padding-top: 6%;
  padding-left: 5%;
  padding-bottom: 4%;
  background-color: #0a205c;
  color: white;
}

.aboutRooms a {
  display: inline-block;
  width: 40%;
  text-align: center;
  padding: 2% 2% 2% 2%;
  border: 2px solid white;
}

.roomsImage {
  width: 100%;
}

.roomsImage img {
  border-radius: 0%;
}

.activites {
  background-color: #0a205c;
  color: white;
}

.activites img {
  width: 100%;
  border-radius: 0%;
}

.bookYourStay {
  width: 60%;
  border: 2px solid white;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.discover {
  background: url("../assets/discover-more/swimming.jpeg"), no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}

.discover div {
  width: 60%;
  margin: 10% 10% 10% 4%;
  padding: 5% 5% 5% 5%;
}

.services h3 {
  width: 100%;
}

.servicesOffered div {
  width: 100%;
}

.servicesOffered img {
  width: 100%;
}

.servicesOffered a {
  color: #0a205c;
}

.allServices {
  width: 60%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background: transparent;
  border: 2px solid #0a205c;
  text-align: center;
  color: #0a205c;
}

.reviews {
  background-color: #fffaf6;
  padding-left: 3%;
  padding-right: 3%;
}

.reviewsOwlImage {
  width: 10%;
  background-color: rgb(21, 233, 74);
}

.reviewsCircle {
  background-color: rgb(8, 90, 28);
  width: 1px;
}

.location {
  padding-left: 4%;
}

.location div {
  width: 100%;
}

iframe {
  width: 80%;
  height: 200%;
}

.joinUs {
  background-color: #fffaf6;
}

.joinUsImages {
  width: 100%;
  margin-top: 0%;
  margin-bottom: 4%;
}

.joinUsImages img {
  width: 100%;
}

.joinUsImages div {
  width: 100%;
}

.joinUsImages div img {
  width: 100%;
}

.joinUsContents {
  width: 80%;
}

.joinUsContents a {
  width: 30%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background: #0a205c;
  border: 2px solid #0a205c;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  background: white;
  color: black;
  box-shadow: 0 0 10px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 15px;
  font-size: 10px !important;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribeNewsForm {
  width: 100%;
}

.subscribeNewsForm button {
  width: 40%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

footer {
  background-color: #0a205c;
}

.footerSocialLinks img {
  width: 50%;
}

.footerCopyright img {
  width: 25px;
}

.footerLinksHover:hover {
  color: white;
  text-decoration: underline;
}

.footerCopyright a {
  color: white;
}

@media screen and (min-width: 576px) {
  .aboutUsPartOne a:hover {
    width: 30%;
  }

  .rooms a {
    width: 30%;
  }

  .allServices {
    width: 40%;
  }

  .bookYourStay {
    width: 40%;
  }

  .joinUsContents a {
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .footerSocialLinks img {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  img {
    border-radius: 0%;
  }

  .navbar img {
    width: 15%;
  }

  .aboutUsPartOne {
    width: 50%;
    padding-left: 5%;
  }

  .aboutUsPartTwo {
    justify-content: center;
    width: 50%;
  }

  .aboutUsPartTwo input {
    width: 90%;
  }

  .checkIn {
    width: 50%;
  }

  .checkOut {
    width: 50%;
  }

  .userRoom {
    width: 25%;
  }

  .childRoom {
    width: 25%;
  }

  .aboutUsPartOne a:hover {
    width: 50%;
  }

  .welcomeImages img {
    width: 60%;
    padding-right: 5%;
    padding-left: 0%;
  }

  .welcomeImagesFirst {
    position: absolute;
    top: 10%;
  }

  .welcomeImagesThird {
    position: absolute;
    top: 36%;
    left: 13%;
  }

  .welcomeImagesSecond {
    position: absolute;
    top: 22%;
    right: 0%;
  }

  .rooms a {
    width: 50%;
  }

  .aboutRooms {
    width: 40%;
    padding-top: 6%;
    padding-left: 4%;
    padding-right: 3%;
  }

  .roomsImage {
    width: 60%;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
  padding: 17px;
  font-size: 20px !important
  }

  .activites img {
    width: 50%;
  }

  .allServices {
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .services h3 {
    width: 60%;
  }

  .bookYourStay {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .discover {
    justify-content: end;
  }

  .discover div {
    width: 35%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 0%;
    padding: 2% 5% 5% 5%;
  }

  .reviews {
    padding-left: 10%;
    padding-right: 10%;
  }

  .location {
    padding-left: 10%;
    padding-right: 10%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .joinUsImages {
    width: 63%;
    margin-top: -4%;
    margin-bottom: 4%;
  }

  .joinUsImages img {
    width: 56%;
  }

  .joinUsImages div img {
    width: 75%;
  }

  .joinUsContents {
    width: 37%;
  }

  .subscribeNewsForm {
    width: 50%;
  }

  footer {
    padding-left: 5%;
    padding-right: 5%;
  }

  .footerSocialLinks img {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .aboutUs {
    width: auto;
    margin-right: 3%;
    margin-left: 3%;
  }

  .aboutUsPartOne a:hover {
    width: 30%;
  }

  .welcomeImages img {
    width: 50%;
    padding-right: 0%;
  }

  .welcomeImagesFirst {
    position: absolute;
    top: 10%;
  }

  .welcomeImagesThird {
    position: absolute;
    top: 40%;
    left: 13%;
  }

  .welcomeImagesSecond {
    position: absolute;
    top: 20%;
    left: 40%;
  }

  .rooms a {
    width: 35%;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
  padding: 20px;
  font-size: 20px !important
  }

  .joinUsContents a {
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  footer {
    padding-left: 12%;
    padding-right: 15%;
  }

  .footerSocialLinks {
    width: 20%;
  }
}
